{% extends "layout.html" %}

{% block content %}

<div class="col-lg-12 login-form">
    <div class="col-lg-12 login-form">
        <form action="/msgtowhfr" method="POST">
            <div class="form-group">
                <label class="form-control-label">Message to Wearhouse</label>
                <input type="text" class="form-control" placeholder="5kg Potato Recived" name="mtwfr">
            </div>

            <div class="col-lg-12 loginbttm">
                <div class="col-lg-6 login-btm login-text">
                    <!-- Error Message -->
                </div>
                <div class="col-lg-6 login-btm login-button">
                    <button type="submit" class="btn btn-outline-primary">SEND</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="jumbotron">
    <h2 style="text-align: center;">Talked With Wearhouse</h2>
    {% for x in info1 %}
        <div class="container">
            <h4>
                {{ info1[x]["msg"] }}
            </h4>
        </div>
    {% endfor %}
</div>


<div class="jumbotron">
    <h2 style="text-align: center;">Message from Wearhouse</h2>
    {% for x in info2 %}
        <div class="container">
            <h4>
                {{ info2[x]["msg"] }}
            </h4>
        </div>
    {% endfor %}
</div>
    
{% endblock content %}